rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{bookingId} {
      // Users can only read their own bookings
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      // ONLY the Cloud Function (which bypasses these rules using Admin SDK) can create/update/delete bookings.
      allow write: if false; 
    }

    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 6, 20);
    }
  }
}
